/* Fonts */
/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Indie Flower', cursive;*/




/* Styles */
body {
	background-color: hsl(177.53,79.74%,68.78%);
	color: #222;
	font-size: 16px;
}

h1 {
	font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h2 {
	font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#business-title {
	font-family: Raleway, Garamond, 'Times New Roman', serif;
	font-size: 200%;
	color:#222;
}

#business-subtitle {
	font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 120%;
	color: hsl(27.53,79.74%,68.78%);
}

#main-navbar {
	background-color: hsl(327.53,79.74%,68.78%);
	color: hsl(27.53,79.74%,68.78%);
	border: none;
	border-radius: 0px;
	min-height: 5em;
}

.full-center-image {
	width: 100%;
}

.full-center-image-box {
	width: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
	height: 20em;
}

div.color-full-center {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,170,0.4);
}

div.color-full-center-image-box {
	width: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
	height: 30em;
	background-position: center; 
	background-size: 100%;
	background-repeat: no-repeat;
} 

.cta-box {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
}

.cta.center {
	text-align: center;
	padding: 10%;
}

.cta-heading {
	font-family: Raleway;
}

.cta-subheading {
	font-family: Roboto;
}


.button>a {
	text-decoration: none;
	text-align: center;
	color: #222;
}

.button {
	background-color: hsl(27.53,79.74%,68.78%);
	padding:.3em;
	display: inline-block;
	font-family: Roboto;
}


.button>a>div {
	padding:.5em;
}

.cta-button {
	font-size: 140%;
	
	width: 200px;

	padding:0em;

	background-color: rgba(0,0,0,0);
	transition: background-color .3s;
	
	border: 4px solid #222;
	font-family: Roboto;
}

.cta-button:hover {
	background-color: rgba(255,255,255,0.5);
	transition: background-color .3s;
}

.cta.center>.cta-button {
	margin-left: auto;
	margin-right: auto;
}





.navbar {
	margin-bottom: 0px;
}

.navbar-nav>li>a {
	color: hsl(27.53,79.74%,68.78%);
	text-align: center;
}

.navbar-nav>li>a:hover {
	background-color: transparent;
}

.navbar-header {
	height: 7em;
  display: flex;
  align-items: center;
}

#main-menu {
	height:100%;
}

#main-menu>li {
	display: flex;
	align-items: center;
	height: 7em; 
}

#main-menu>li:hover {
	background-color: hsl(27.53,79.74%,68.78%);
}

#main-menu>li:hover>a {
	color: #222;
}

.navbar-child {
	padding: 0px;
}

.zig-section {
	height: 100%;
}

.column-section {
	margin-top: 1em;
}

.basic-footer-box {
	background-color: hsl(27.53,79.74%,68.78%);
	color: #222;
	margin: 1em;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.textRight {
	text-align: right;
}

.textLeft {
	text-align: left;
}

.fillHeight {
	height: 100%;
}

.centerItems {
	display: flex;
  align-items: center;
}
.navbar-header {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 1em 0 1em 0;
  margin-top: .5em;
}

.navbar-brand {
	float: none;
	line-height: none;
}
.flex {
	display: flex;
}

#main-menu {
	float: none;
	margin-left: auto;
	margin-right:auto;
}

#main-menu>li {
	height: 5em; 
	text-align: center;
}

#main-navbar {
	position: relative;
	background-color: transparent;
}

#business-title {
	font-size: 400%;
}
#business-subtitle {
	font-size: 200%;
	margin: .2em;
}


