#main-navbar {
  background-color: rgba(0,0,0,0);
  position: absolute;
  width: 100%;
  background: -moz-linear-gradient(top, {{ inv_text_color }} 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, {{ inv_text_color }} 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, {{ inv_text_color }} 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}